html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
#split-pane-1 {
    height: calc( 100% - 56px);
}
.split-pane-divider {
    box-shadow: 0 0 3px #333;
    background: #eee;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    background-position: 50%;
    background-repeat: no-repeat;
}
#left-component {
    width: 50%;
}
#divider {
    left: 50%;
    width: 5px;
}
#right-component {
    left: 50%;
    margin-left: 5px;

}
#header {
    width: 100%;
    min-width: 1000px;
    z-index: 100;
}
#header #title {
    font-family: 'Permanent Marker', cursive;
    color: white;
}
#openclose {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

  a {
    color: white;
}
#jstree_demo_div {
    width: 500px;
    height: 500px;
    position: fixed;
    z-index: 10000;
    top: 100px;
    left: calc( 50% - 250px);
    background: white;
    color: black;
    box-shadow: 0 0 5px #000;
}
#menuright {
    position: absolute;
    right: 0;
    width: 200px;
    height: 300px;
    background: #fff;
    box-shadow: 2px 10px 10px grey;
    padding: 10px;
    z-index: 100;
}
#wrap {
    height: 100%;
}
.editor {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0px;
    background: #aaa;
    resize: none;
}
#uploadbox {
    position: relative;
}
.uploadButton {
    height: 3.5em;
    display: block;
    cursor: pointer;
}
input[type="file"] {
    display: block;
    height: 3.5em;
    clip: rect(0px 0px 0px 0px);
    position: absolute;
    left: 0;
    top: 0;
}
.dropzone-previews {
    display: none;
}
#output-navi {
    position: absolute;
    top: 5px;
    right: calc( 50% - 66px);
    border-radius: 5px;
    background: #888;
    opacity: 0.3;
    color: black !important;
    padding: 7px 5px 5px 5px;
    -webkit-transition: opacity 0.4s;
}
#output-navi:hover {
    opacity: 0.8;
}
#output-navi span {
    padding: 7px 7px 5px 7px;
}
#output-navi span a {
    color: black;
}
.disabled {
    pointer-events: none;
    cursor: default;
}
#output-navi span a:hover {
    color: white;
}
.popup {
  display: none;
  position: absolute;
  width: 500px;
  top: 200px;
  left: calc(50% - 250px);
  z-index: 10000;
  font-family: 'Antic', sans-serif;
}

.popup label {
  padding:10px;

}
.popup label input, #settings label select {
  padding: 0 10px;
}
#toolbox {
  position: absolute;
  right: 0;
  top:0;
  background: black;
  z-index: 100000;
  height: 30px;
  padding: 5px;
}
#toolbox a {

padding: 10px;

  color: white;
}
#viewbox {
  position: absolute;
  left: 0;
  top:0;
  background: black;
  z-index: 100000;
  height: 30px;
  padding: 5px;
}
#viewbox a {
padding: 10px;

  color: white;
}
#output_meta {
  display: none;

}
#xml_tree {
  margin: 30px;
}
